    /* Geral */

*{
    padding: 0;
    margin: 0;    
}

body{
    font-family: 'Lato', sans-serif;;
}

h1,h2{
    color: #ff6b28;
}

h1{
    font-weight: 900;
}

h2{
    font-weight: 700; 
}

p,li{
    font-weight: 700;
}

.form-texts{
    margin: 2.5% 0 2.5% 40px;
}

.header-footer{
    background-color: #ff6b28;
    padding: 8px;
    text-align: center;
}
    /* Header */

header>a{
    text-decoration: none;
}

#logo{
    width: 250px;
}

#logo:hover{
    width: 255px;
}

#back-cake{
    height: 400px;
    background-image: url(./assets/hero_bolo.jpg);
    background-size: cover;
}

    /* Main Content */

main{
    width: 80%;
    margin: auto;
    margin-top: 3.8%;
    margin-bottom: 3.8%;
}

/* Ingredientes */

#ingredients{
    width: 80%;
    margin: auto;
    margin-top: 5%;
    padding: 10px 10px 20px 10px;
}

#ingredients:hover{
    box-shadow: 0 0 10px grey;
    border-radius: 12px;
    cursor: url('./assets/cursor_ingredientes.png'), pointer;
}

#buy-ing{
    text-decoration: none;
    color: white;
    background-color: #ff6b28;
    padding: 8px;
    border-radius: 12px;
}

#buy-ing:hover{
    background-color: #fa783c;
}

/* Modo de Preparo */

#prepare-mode{
    width: 80%;
    margin: auto;
    margin-top: 5%;
    padding: 10px;
}

#prepare-mode:hover{
    box-shadow: 0 0 10px grey;
    border-radius: 12px;
    cursor: url('./assets/cursor_preparo.png'), pointer;
}

/* Intruções adicionais */

#ad-instructions{
    width: 80%;
    margin: auto;
    margin-top: 5%;
    padding: 10px;
}

#ad-instructions:hover{
    box-shadow: 0 0 10px grey;
    border-radius: 12px;
    cursor: url('./assets/cursor_intrucoes.png'), pointer;
}

footer{
    color: white;
}

footer>p>a{
    color: white;
}