body{
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
}

.form-p{
    font-size: 18px;
    font-weight: 400;
    text-align: justify;
}

a{
    text-decoration: none;
}

/* Top bar */

#top-bar{
    background-color: #333;
    border-bottom: 5px solid #fd8a24;
    color:  white;
    font-size: 24px;
    font-weight: 700;
    padding: 10px;
    text-align: center;
}

/* Header */ 

#container-content{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

#title{
    font-size: 40px;
    text-align: justify;
}

#per{
    font-size: 15px;
    margin-bottom: 0;
}

#date{
    font-size: 12px;
    font-weight: 300;
    margin-top: 10px;
    margin-bottom: 0;
}

#icon-links{
    margin: 26.8px 0 26.8px 0;
}

#tt-link{
    margin: 0 30px 0  30px;
}

.size-linkimg{
    width: 35px;
}

/* -------- */

hr{
    margin: 26.8px 0 26.8px 0;
}

/* Content */

#content{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.link-p{
    color: #fd8a24;
    font-weight: 800;
}

.form-img{
    width: 100%;
}

figure{
    margin: 0;
}

.caption{
    font-size: 12px;
}

/* footer */

#footer{
    height: 58px;
    background-color: #333;
    border-top: 5px solid #fd8a24;
    box-sizing: border-box;
    padding: 8px;
    text-align: center;
}

/* Extra */

#extra{
    width: 40px;
}